.forgot-password-form-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 40px;
    background-color: white;
}

.info {
    margin-top : 20px;
    margin-bottom : 20px;
}
 
h1 {
    margin-bottom: 10px;
    color: #333;
}
 
.form-group {
    margin-bottom: 10px;
    text-align: left;
    border: black;
    border-radius: 10px;
}
 
.form-group input {
    width: 100%;
    padding: 12px;
    border: black;
    border-radius: 10px;
    font-size: 16px;
}
 
.button-group {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
 
.submit-button, .cancel-button {
    width: 48%;
    padding: 12px;
    font-size: 16px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
 
.submit-button {
    background-color: #6fbad3;
    color: white;
}
 
.submit-button:hover {
    background-color: #579ab3;
}
 
.cancel-button {
    background-color: #e57373;
    color: white;
}
 
.cancel-button:hover {
    background-color: #d32f2f;
}

.forgot-password-image {
  width: 80%;
  max-width: 500px; 
  margin-top: 10px;
}

.info-icon {
    color:red;
    margin-right: 5px;
}