.forgot-password-div{
    display: flex;
    flex-direction: column;
  align-items: center;
  justify-content: center;
}
  
 
  .forgotPWTxt {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  input[type="email"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  input[type="email"]:focus, input[type="password"]:focus {
    border-color: #007bff;
    outline: none;
  }
  
  .resetBtn, .signInUpBtn {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #9DA1FF;
    border: 2px solid #9DA1FF;
    border-radius: 25px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s, border-color 0.3s, transform 0.2s;
  }
  
  .resetBtn:hover, .signInUpBtn:hover {
    background-color: #1565c0;
    border-color: #1565c0;
    transform: scale(1.05);
  }
  
  .resetBtn:active, .signInUpBtn:active {
    background-color: #0d47a1;
    border-color: #0d47a1;
    transform: scale(0.95);
  }
  
  p {
    margin-top: 10px;
    color: #ff0000; /* Red color for error messages */
  }
  
  .login-div a, .forgot-password-div a {
    color: #007bff;
    text-decoration: none;
    margin-top: 10px;
  }
  
  .login-div a:hover, .forgot-password-div a:hover {
    text-decoration: underline;
  }
  
  .message {
    color: #333; /* Default message color */
  }
  