.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #9da1e2;
  box-shadow: 0 2px 2px rgba(255, 255, 255, 0.3);
  z-index: 1000;
  position: fixed;
  top: 0;
  width: 100%;
  margin-left: 0px;
}

.header-middle {
  margin-left: 30px;
  text-align: center;
}

.header-middle h2 {
  margin: 0;
  font-size: 40px;
}

.header-right {
  margin-left: auto;
  margin-right: 20px;
}

.header-link {
  text-decoration: none;
  font-size: 18px;
  color: black;
  margin-right: 20px;
}

.header-logo{
  height: 65px;
  width: 70px;
}

.bi-box-arrow-right {
  font-size: 30px;
  font-weight: bolder;
  color: black;
  transition: color 0.3s ease;
}

.bi-box-arrow-right:hover {
  color: red;
}

.logout-confirmation {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logout-confirmation span {
  font-size: 18px;
}

.confirm-btn, .cancel-btn {
  padding: 5px 10px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.confirm-btn {
  background-color: #55B317;
  color: white;
}

.confirm-btn:hover {
  background-color: #459b12;
}

.cancel-btn {
  background-color: #B32717;
  color: white;
}

.cancel-btn:hover {
  background-color: #9c2115;
}